h1 {
    color: white;
    text-align: center;
}
#leftCol{
    float: left;
}
#rightCol{
    float: left;
}
#citySearch {
    height: 35px;
}
#weatherCard{
    width: 8em;
    height: 10em;
    margin: 10px;
    
}
div.card-body {
    height: 20em;
}
#form {
    width: 18em;
}
